body * {
  font-family: arial;
}

paper-tab {
  font-size: 20px;
}

.data ul {
  font-size: 16px;
  list-style: none;
  margin: 10px 0 0 0;
  padding: 0;
}

.data ul > li {
  font-size: 16px;
  padding: 0 0 8px 0;
}

.data ul > li ol {
  list-style: disc;
  padding-left: 25px;
  font-size: 15px;
}

.data ul > li ol li small {
  font-size: 12px;
}
