<ul data-category="energy">
	{% set items = output.getValues('energy') %}
	{% for key in sorted(items) %}
		{% set item = items[key] %}
    {% set state = item.get('state',{}).get('value','') %}
		<li data-collection="{{ item['collection']['name'] }}">
			<label>{{ item['collection']['name'] }}:</label>
			<ol>
				<li class="sensor" data-typ="state">
					Status:
          <label>
            <input class="state" type="radio" name="{{ item.get('device',{}).get('value','') }}" data-route="setEnergy" data-event="change" {% if 'on' in state %}checked="checked"{% end %} value="on">
            An
          </label>
          <label>
            <input class="state" type="radio" name="{{ item.get('device',{}).get('value','') }}" data-route="setEnergy" data-event="change" {% if 'off' in state %}checked="checked"{% end %} value="off">
            Aus
          </label>
					<small>(<span class="device_date">{{ item.get('device',{}).get('date','') }}</span>)</small>
				</li>
			</ol>
		</li>
	{% end %}

	{% set items = output.getValues('switch') %}
	{% for key in sorted(items) %}
		{% set item = items[key] %}
		{% set data = item.get('config',{}).get('value', {}) %}
		<li data-collection="{{ item['collection']['name'] }}">
			<label>{{ item['collection']['name'] }}:</label>
			<ol>
				<li class="switch" data-typ="state">
          <label>
            <button class="state" type="button" data-route="sendSwitch" data-event="click" data-values="{{ data }}" value="on">
							An
						</button>
          </label>
          <label>
						<button class="state" type="button" data-route="sendSwitch" data-event="click" data-values="{{ data }}" value="off">
							Aus
						</button>
				</li>
			</ol>
		</li>
	{% end %}
</ul>
