{% extends "../layout/base.html" %}

{% block content %}

  <template is="auto-binding">
    <paper-tabs selected="{% raw '{{ view }}' %}">
      <paper-tab>Data</paper-tab>
      <paper-tab>Events</paper-tab>
      <paper-tab>Config</paper-tab>
    </paper-tabs>

    <core-pages selected="{% raw '{{ view }}' %}">
      <div id="data">
        {% include "data.html" %}
      </div>
      <div id="events">Events</div>
      <div id="config">Config</div>
    </core-pages>
  </template>

{% end %}
