{% extends "../layout/base.html" %}

{% block content %}

  <template is="auto-binding">
    <paper-tabs selected="{% raw '{{ view }}' %}">
      <paper-tab>Temperaturen</paper-tab>
      <paper-tab>Learning</paper-tab>
      <paper-tab>Config</paper-tab>
    </paper-tabs>

    <core-pages selected="{% raw '{{ view }}' %}">
      <div id="climate">
        <ul>
          {% set items = output.getValues() %}
          {% for key in sorted(items) %}
            <li class="{{ items.get(key).get('room') }}">
              <label>{{ items.get(key).get('room') }}:</label>
              <ol>
                <li>
                  Sensor:
                  <span class="temperature">{{ items.get(key).get('temperature','') }}°C,</span>
                  <span class="humidity">{{ items.get(key).get('humidity','') }}%</span>
                </li>
                {% if items.get(key).get('heat', False) %}
                  <li>
                    Heizung:
                    <span class="measured-temp">{{ items.get(key).get('measured-temp','') }}°C</span>
                    <span>/</span>
                    <span class="desired-temp">{{ items.get(key).get('desired-temp','') }}°C</span>
                  </li>
                {% end %}
              </ol>
            </li>
          {% end %}
        </ul>
      </div>
      <div>Learning</div>
      <div>Config</div>
    </core-pages>
  </template>

{% end %}
