<ul>
	{% set items = output.getValues('plant') %}
	{% for key, item in sorted(items) %}
		{% if item.get('type', {}).get('value', '') != 'plant' %}
			{% continue %}
		{% end %}
		<li data-collection="{{ item['collection']['name'] }}">
			<label>{{ item['collection']['name'] }}:</label>
			<ol>
				<li class="sensor">
					Status: <span class="humidity">{{ item.get('humidity',{}).get('value','') }}</span>
					<small>(<span class="device_date">{{ item.get('device',{}).get('date','') }}</span>)</small>
				</li>
			</ol>
		</li>
	{% end %}
</ul>
