<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SmartHome</title>

    {% set path = '../static/bower_components/' %}

    <script src="{{path}}webcomponentsjs/webcomponents.min.js"></script>
    <link rel="import" href="{{path}}polymer/polymer.html">
    <link rel="import" href="{{path}}core-header-panel/core-header-panel.html">
    <link rel="import" href="{{path}}core-toolbar/core-toolbar.html">
    <link rel="import" href="{{path}}paper-tabs/paper-tabs.html">
  </head>
  <body unresolved>
    <div id="content">
      {% block content %}{% end %}
    </div>
  </body>
</html>
