<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>SmartHome</title>
		<link rel="stylesheet" href="/static/main.css" type="text/css" />
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		{% set path = '../static/bower_components/' %}
		<script src="{{path}}webcomponentsjs/webcomponents.min.js"></script>
		<link rel="import" href="{{path}}polymer/polymer.html">
		<link rel="import" href="{{path}}paper-tabs/paper-tabs.html">
		<link rel="import" href="{{path}}core-pages/core-pages.html">
	</head>
	<body unresolved>
		<div id="content">
			{% block content %}{% end %}
		</div>
		<script type="text/javascript" src="/static/app.js"></script>
	</body>
</html>
