<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>SmartHome</title>
		<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
		<link rel="stylesheet" href="/static/main.css" type="text/css" />
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
	</head>
	<body unresolved>
		<div id="content">
			{% block content %}{% end %}
		</div>
		<script type="text/javascript" src="/static/highcharts.js"></script>
		<script type="text/javascript" src="/static/highchart.js"></script>
		<script type="text/javascript" src="/static/app.js"></script>
	</body>
</html>
